name: Watch faces unit tests

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run unit tests
        run: make test
        working-directory: 'watch-faces/test'
      - name: Fesk TX Unit Tests
        run: make test
        working-directory: 'lib/fesk_tx'
